html{background-color: black; font-family: 'Press Start 2P', cursive; box-sizing: border-box}

.start{
    background-image: url("../img/titleScreen.png")!important;
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#mainScreen{
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.lvl1{
    background-image: url("../img/levels/level1.png")!important;

}

.lvl2{
    background-image: url("../img/levels/level2.png")!important;
}

.lvl3{
    background-image: url("../img/levels/level3.png")!important;
}

.lvl4{

}

.gameOver{
    background-image: url("../img/gameOver.png")!important;
}

.container {
    width: 800px;
    max-width: 80%;
    padding: 10px;
    margin-left: -10%;

}
#text{
    line-height: 30px;
    width: 100%;
    padding: 20px;
    left: 10%;
    right: 10%;
    background-color: rgba(0,0,0,.8);
    color: coral;
    font-size: 20px;
}

.btn-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5%;
}
.startBoy{
    position: absolute;
    top: 70%;
    margin-left: -10%;
}
.startGirl{
    position: absolute;
    top: 70%;
    margin-left: 0%;
}


